@charset "UTF-8";

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("imagens/wallpaper.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

header, nav, main, footer {
	margin: auto;
}

header {
	height: 20%;
	width: 75%;
	text-align: center;
	background-color: #111111;
}

header img {
	width: 55%;
}

nav {
	height: 2rem;
	width: 75%;
	background-image: linear-gradient(to bottom, #111111, #011F4B);
}

nav {
	position: sticky;
	top: 0;
}

#menu {
	display: flex;
	list-style-type: none;
}

#menu li {
	margin-left: 1rem;
	padding-top: .5rem;
}

#menu a {
	color: #FF8303;
	font-weight: bold;
	text-decoration: none;
	padding: .3rem;
}

#menu a:hover {
	color: #011F4B;
	background-image: linear-gradient(to bottom, #F9530B, #FBD808);
	border-radius: .4rem;
}

main {
	width: 75%;
	background-color: #F6F6F6;
}

#sect01 img {
	display: block;
	width: 100%;
}

#sect02 h1 {
	color: #FF8303;
	text-align: center;
	background-image: linear-gradient(to bottom, #111111, #011F4B);
	padding: .5rem;
}

#indice {
	width: 30%;
	font-weight: bold;
	text-align: center;
	line-height: 1.7em;
	list-style-type: none;
	background-image: linear-gradient(to bottom, #111111, #011F4B);
	border-radius: 1rem;
	padding: .8rem;
	margin: 1.8rem auto;
}

#indice a {
	color: #FF8303;
	text-decoration: none;
	padding: .3rem;
}

#indice a:hover {
	color: #011F4B;
	background-image: linear-gradient(to bottom, #F9530B, #FBD808);
	border-radius: .4rem;
}

.grupos {
	text-align: center;
	margin-bottom: 2.5rem;
}

.grupos ul {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	list-style-type: none;
}

.grupos h2 {
	width: 30%;
	color: #FFD700;
	text-align: center;
	background-color: #111111;
	border-radius: 0rem 1rem 0 1rem;
	margin: auto;
	margin-bottom: 1rem;
}

.team {
	border: 1px solid #111111;
}

.grupos img {
	width: 70%;
}

#sect03 {
	text-align: center;
}

#sect03 h2 {
	color: #FF8303;
	text-align: center;
	background-image: linear-gradient(to bottom, #111111, #011F4B);
	padding: .5rem;
	margin-bottom: 2rem;
}

#sect03 p {
	text-align: left;
}

#ctr {
	width: 35%;
}

#botoes {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5rem;
	padding-bottom: 2rem;
}

#drc {
	width: 10%;
}

span {
	border-radius: 50%;
}

#red {
	font-size: 1.2em;
	font-weight: bold;
	background-color: #CC1F26;
	padding: 0rem .2rem;
}

#yellow {
	font-size: 1.2em;
	font-weight: bold;
	background-color: #EFD126;
	padding: 0rem .2rem;
}

#blue {
	font-size: 1.2em;
	font-weight: bold;
	background-color: #3FB7EA;
	padding: 0rem .2rem;
}

#green {
	font-size: 1.2em;
	font-weight: bold;
	background-color: #82C341;
	padding: 0rem .2rem;
}

#sect04 {
	text-align: center;
}

#sect04 h2 {
	color: #FF8303;
	text-align: center;
	background-image: linear-gradient(to bottom, #111111, #011F4B);
	padding: .5rem;
	margin-bottom: 2rem;
}

#sect04 h3 {
	width: 30%;
	color: #FFD700;
	text-align: center;
	background-color: #111111;
	border-radius: 0rem 1rem 0 1rem;
	margin: auto;

}

#sect04 img {
	margin: .5rem 0rem;
}

#sect04 p {
	width: 85%;
	text-align: justify;
	line-height: 1.5em;
	padding-bottom: 1.5rem;
	margin: auto;
}

footer {
	width: 75%;
	background-color: #111111;
}

footer p {
	font-size: 0.8em;
	text-align: center;
	color: white;
	padding: 0.5rem;
}

footer a {
	color: white;
	text-decoration: none;
}

footer a:hover {
	color: #FF8303;
	text-decoration: underline;
}

hr {
	border-color: #4040406f;
	margin: auto;
	width: 25%;
}

@media screen and (max-width: 991px) {
	header {
		height: 15%;
		width: 100%;
		text-align: center;
		background-color: #111111;
	}
	
	header img {
		width: 64%;
	}
	
	nav {
		height: 3rem;
		width: 100%;
		background-image: linear-gradient(to bottom, #111111, #011F4B);
	}
	
	nav {
		position: unset;
		top: 0;
	}
	
	#menu {
		display: flex;
		justify-content: center;
		list-style-type: none;
		gap: 3rem;
	}
	
	#menu li {
		margin-left: 0;
		padding-top: 1.2rem;
	}
	
	#menu a {
		color: #FF8303;
		font-weight: bold;
		text-decoration: none;
		padding: .7rem;
	}
	
	#menu a:hover {
		color: transparent;
		background-image: unset;
		border-radius: 0;
	}
	
	main {
		width: 100%;
		background-color: #F6F6F6;
	}

	#sect01 img {
		display: block;
		width: 100%;
	}
	
	#sect02 h1 {
		color: #FF8303;
		text-align: center;
		background-image: linear-gradient(to bottom, #111111, #011F4B);
		padding: .5rem;
	}
	
	#indice {
		width: 50%;
		font-weight: bold;
		text-align: center;
		line-height: 2em;
		list-style-type: none;
		background-image: linear-gradient(to bottom, #111111, #011F4B);
		border-radius: 1rem;
		padding: .8rem;
		margin: 1.8rem auto;
	}
	
	#indice a {
		color: #FF8303;
		text-decoration: none;
		padding: .4rem;
	}
	
	#indice a:hover {
		color: transparent;
		background-image: unset;
		border-radius: 0;
	}
	
	.grupos {
		text-align: center;
		margin-bottom: 2.5rem;
	}
	
	.grupos ul {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		list-style-type: none;
	}
	
	.grupos h2 {
		width: 45%;
		color: #FFD700;
		text-align: center;
		background-color: #111111;
		border-radius: 0rem 1rem 0 1rem;
		padding: .2rem;
		margin: auto;
		margin-bottom: 1rem;
	}
	
	.team {
		border: 1px solid #111111;
	}
	
	.grupos img {
		width: 95%;
	}
	
	#sect03 {
		text-align: center;
	}
	
	#sect03 h2 {
		color: #FF8303;
		text-align: center;
		background-image: linear-gradient(to bottom, #111111, #011F4B);
		padding: .5rem;
		margin-bottom: 2rem;
	}
	
	#sect03 p {
		text-align: left;
	}
	
	#ctr {
		width: 35%;
		margin-bottom: 1rem;
	}
	
	#botoes {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5rem;
		padding-bottom: 2rem;
	}
	
	#drc {
		width: 10%;
	}
	
	span {
		border-radius: 50%;
	}
	
	#red {
		font-size: 1.2em;
		font-weight: bold;
		background-color: #CC1F26;
		padding: 0rem .2rem;
	}
	
	#yellow {
		font-size: 1.2em;
		font-weight: bold;
		background-color: #EFD126;
		padding: 0rem .2rem;
	}
	
	#blue {
		font-size: 1.2em;
		font-weight: bold;
		background-color: #3FB7EA;
		padding: 0rem .2rem;
	}
	
	#green {
		font-size: 1.2em;
		font-weight: bold;
		background-color: #82C341;
		padding: 0rem .2rem;
	}
	
	#sect04 {
		text-align: center;
	}
	
	#sect04 h2 {
		color: #FF8303;
		text-align: center;
		background-image: linear-gradient(to bottom, #111111, #011F4B);
		padding: .5rem;
		margin-bottom: 2rem;
	}
	
	#sect04 h3 {
		width: 30%;
		color: #FFD700;
		text-align: center;
		background-color: #111111;
		border-radius: 0rem 1rem 0 1rem;
		margin: auto;
	
	}
	
	#sect04 img {
		margin: .5rem 0rem;
	}
	
	#sect04 p {
		width: 90%;
		text-align: justify;
		line-height: 1.5em;
		padding-bottom: 1.5rem;
		margin: auto;
	}
	
	footer {
		width: 100%;
		background-color: #111111;
	}
	
	footer p {
		font-size: 0.8em;
		text-align: center;
		color: white;
		padding: 0.5rem;
	}
	
	footer a {
		color: white;
		text-decoration: none;
	}
	
	footer a:hover {
		color: transparent;
		text-decoration: none;
	}
	
	hr {
		border-color: #4040406f;
		margin: auto;
		width: 25%;
	}
}

@media screen and (max-width: 767px) {

	header, nav, main, footer {
		margin: auto;
	}
	
	header {
		height: 12%;
		width: 100%;
		text-align: center;
		background-color: #111111;
	}
	
	header img {
		width: 90%;
	}
	
	nav {
		height: 3rem;
		width: 100%;
		background-image: linear-gradient(to bottom, #111111, #011F4B);
	}
	
	nav {
		position: unset;
		top: 0;
	}
	
	#menu {
		display: flex;
		justify-content: center;
		list-style-type: none;
		gap: .6rem;
	}
	
	#menu li {
		margin-left: 0;
		padding-top: 1.1rem;
	}
	
	#menu a {
		color: #FF8303;
		font-weight: bold;
		text-decoration: none;
		padding: .8rem;
	}
	
	#menu a:hover {
		color: 0;
		background-image: unset;
		border-radius: 0;
	}
	
	main {
		width: 100%;
		background-color: #F6F6F6;
	}
	
	#sect01 img {
		display: block;
		width: 100%;
	}
	
	#sect02 h1 {
		color: #FF8303;
		text-align: center;
		background-image: linear-gradient(to bottom, #111111, #011F4B);
		padding: .5rem;
	}
	
	#indice {
		width: 80%;
		font-weight: bold;
		text-align: center;
		line-height: 2em;
		list-style-type: none;
		background-image: linear-gradient(to bottom, #111111, #011F4B);
		border-radius: 1rem;
		padding: .3rem;
		margin: 1.8rem auto;
	}
	
	#indice a {
		color: #FF8303;
		text-decoration: none;
		padding: .5rem;
	}
	
	#indice a:hover {
		color: 0;
		background-image: unset;
		border-radius: 0;
	}
	
	.grupos {
		text-align: center;
		margin-bottom: 2rem;
	}
	
	.grupos ul {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		list-style-type: none;
	}
	
	.grupos h2 {
		width: 75%;
		color: #FFD700;
		text-align: center;
		background-color: #111111;
		border-radius: 0rem 1rem 0 1rem;
		padding: .2rem;
		margin: auto;
		margin-bottom: 1rem;
	}
	
	.team {
		border: 1px solid #111111;
	}
	
	.grupos img {
		width: 95%;
	}
	
	#sect03 {
		text-align: center;
	}
	
	#sect03 h2 {
		color: #FF8303;
		text-align: center;
		background-image: linear-gradient(to bottom, #111111, #011F4B);
		padding: .5rem;
		margin-bottom: 1.5rem;
	}
	
	#sect03 p {
		text-align: left;
	}
	
	#ctr {
		width: 50%;
		margin-bottom: 1rem;
	}
	
	#botoes {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5rem;
		padding-bottom: 1.5rem;
	}
	
	#drc {
		width: 20%;
	}
	
	span {
		border-radius: 50%;
	}
	
	#red {
		font-size: 1.2em;
		font-weight: bold;
		background-color: #CC1F26;
		padding: 0rem .2rem;
	}
	
	#yellow {
		font-size: 1.2em;
		font-weight: bold;
		background-color: #EFD126;
		padding: 0rem .2rem;
	}
	
	#blue {
		font-size: 1.2em;
		font-weight: bold;
		background-color: #3FB7EA;
		padding: 0rem .2rem;
	}
	
	#green {
		font-size: 1.2em;
		font-weight: bold;
		background-color: #82C341;
		padding: 0rem .2rem;
	}
	
	#sect04 {
		text-align: center;
	}
	
	#sect04 h2 {
		color: #FF8303;
		text-align: center;
		background-image: linear-gradient(to bottom, #111111, #011F4B);
		padding: .5rem;
		margin-bottom: 1.5rem;
	}
	
	#sect04 h3 {
		width: 50%;
		color: #FFD700;
		text-align: center;
		background-color: #111111;
		border-radius: 0rem 1rem 0 1rem;
		padding: .1rem;
		margin: auto;
	
	}
	
	#sect04 img {
		width: 90%;
		margin: .5rem 0rem;
	}
	
	#sect04 p {
		width: 90%;
		text-align: justify;
		line-height: 1.5em;
		padding-bottom: 1.5rem;
		margin: auto;
	}
	
	footer {
		width: 100%;
		background-color: #111111;
	}
	
	footer p {
		font-size: 0.8em;
		text-align: center;
		color: white;
		padding: 0.5rem;
	}
	
	footer a {
		color: white;
		text-decoration: none;
	}
	
	footer a:hover {
		color: 0;
		text-decoration: none;
	}
	
	hr {
		border-color: #4040406f;
		margin: auto;
		width: 25%;
	}
}